
.product-area
{
    min-height: 100vh;
    margin-top: 10%;
    padding: auto;
    z-index: 0;
    text-align: center;
}

.product-carousel img
{
    height: 400px;
    width: 400px;
    object-fit: contain;
    z-index: 0;
}

.product-carousel-nav 
{
    overflow: hidden;
    width: auto;
    margin-top: 50px;
}
.product-carousel-nav img
{
    height: 100px;
    width: 100px;
    object-fit: contain;
}
.product-carousel
{
    overflow: hidden;
}